
.content{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

body{
    background: #969696;
}

.position-center {
    margin : 0px auto;
}

.text-JhengHei {
    font-family: Microsoft JhengHei;
}

.shop-font-size{
    font-size: 24px;
}

@media screen and (max-width:768px){
    .shop-font-size{
        font-size: 16px;
    }
}

