
.content{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.container-block {
    display: flex;
    background: #f4f4f4;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 1% 1% 1%;
    max-width: 100%;
    height: auto;
}

body{
    background: #969696;
}

.position-center {
    margin : 0px auto;
}

.text-JhengHei {
    font-family: Microsoft JhengHei;
}

.shop-font-size{
    font-size: 24px;
}

.white-background {
    background: white;
}

#personINFO:hover + #account-info-block{
    display: block;
}

#account-info-block:hover {
    display: block;
}
.account-info-block {
    position: absolute;
    top: 80%;
    left: 85%;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display: none;
}



.d-phone{
    display: none;
}

.d-pc{
    display:block;
}

.footer-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #03AF41;
}
.title-color {
    color : #ecb62c;
}

.footer-title {
    color : black;
    font-weight: bold;
}

.footer-font-color {
    color : black;
}

.footer-link {
    color: black;
    display: block;
}

.footer-link:hover {
    color: #717b8c;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width:768px){
    .shop-font-size{
        font-size: 16px;
    }
    
    .d-pc {
        display: none;
    }

    .d-phone {
        display:block;
    }
    
}

