body{

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    border: 1px red solid;
    width: 30%;
    height: 700px;
    background-image: url('../遊戲畫面素材/背景1.png');
    background-repeat: no-repeat;
}

button{
    width: 80px;
    font-size: 15px;
    background-color: #FF44AA;
    color: white;
}

.title{
    border: 1px red solid;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 6%;
    font-weight: bolder;
}

.dialog{
    position: absolute;
    top: 10%;
    left: 42%;
    width: 10%;
    background-color: #5599FF;
    box-shadow: 0px 0px 20px #00FFFF;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    display: none;    
}

#cards{
    position: absolute;
    top: 225px;
    
}

.card{
    width: 80px;
    height: 120px;
    position: absolute;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
}

.front{
    background: url("../遊戲畫面素材/deck.png")0 120px;
    z-index: 10;
}

.back{
    background: url("../遊戲畫面素材/deck.png");
    -webkit-transform: rotateY(-180deg);
    z-index: 8;
}

.face:hover{
    -webkit-box-shadow: 0 0 40px #aaa;
}

/*牌面定位樣式*/
.cardAJ{background-position: -800px 0;}
.cardAQ{background-position: -880px 0;}
.cardAK{background-position: -960px 0;}
.cardBJ{background-position: -800px -120px;}
.cardBQ{background-position: -880px -120px;}
.cardBK{background-position: -960px -120px;}

.card-flipped .fornt{
    /*保證牌底在牌面下，zindex切換為小值*/
    z-index: 8;
    -webkit-transform: rotateY(180deg);
}

.card-flipped .back{
    /*保證牌底在牌面上，z-index切換為大值*/
    z-index: 10;
    /*前面牌面一經翻過去，現在翻回來*/
    -webkit-transform: rotateY(0deg);
}

/*移除牌*/
.card-removed{
    opacity: 0;
}

@media only screen and (max-width:768px){
    .content{
        width: 80%;
    }
    .dialog{
        left: 35%;
        width: 30%;
        height: 10%;
    }
}

@media only screen and (max-width:480px){
    .content{
        width: 100%;
    }
    .title{
        top: 50px;
    }
    .dialog{
        top: 12%;
        left: 26%;
        width: 45%;
        height: 15%;
    }
}

@media only screen and (max-width:375px){
    .content{
        width: 100%;
    }
    .dialog{
        top: 14%;
        left: 30%;
        width: 45%;
        height: 15%;
    }
}