.outer{
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrap{
    width: 80%;
    height: auto;
    border: 1px green solid;
}

.list{
    width: 100%;
    height: auto;
    border: 1px blue solid;
    margin-bottom: 20px;
}

img{
    width: 100%;
}

.total{
    width: 100%;
    height: auto;
    border: 1px red solid;
    text-align: right;
}
.next{
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px blue solid;
}
.button{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    size: 2px;

}

ul li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}