html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 100%;
}

.container-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 95%;
    height: auto;
    margin: 2%;
}

.wrap{
    width: 800px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.logo-img{
    border: solid white 1px;
    margin: 10px;
}

.outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.page-title{
    font-size: 30px;
}

.input-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

.input-text{
    width: 30%;
    font-size: 25px;
    text-align: right;
}

.input-area>input{
    width: 40%;
}

.input-button{
    margin-left: 15px;
}

.remind-text{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.submit-area{
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    padding: 30px;
    text-align: center;
}

.submit-area>button{
    width: 40%;
}

@media screen and (max-width: 768px) {
    /* CSS Reset */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

}