.content{
    border:1px solid blue;
    width: 375px;
    height: 667px;
    background-image:url('/LOHO_Web/public/Image/遊戲畫面素材/背景.png');

}
.title{
    font-weight: bolder;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    position: absolute;
    top: 50px;
}
.table{
    position: absolute;
    top: 230px;
    left: 20px;
}
label{
    font-size: 20px;
}
td{
    width: 112px;
    height: 106px;
    border: 1px solid orangered;
}
button{
    width: 80px;
    font-size: 15px;
}