.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: lightcyan;
    margin: 0 auto;
}

.white-background {
    background: white;
}


.img-background{
    background-image: url("https://images.unsplash.com/photo-1518023176010-e14eb57eecf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe2f72ca42e6478bc869b8325881fa46&auto=format&fit=crop&w=1050&q=80");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.item-block{
    width: 230px;
    margin: 15px;
    padding: 5px;
    border: solid #717b8c 1px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.item-img{
    border: none;
}
.carousel-h{
    height: 760px;
}

.bg-category {
    background: #F4F3F9;
    overflow: hidden;
}

.bg-category img{
    transform: scale(0.6,0.6);
    transition: all 1s ease-out;
}

.bg-category img:hover {
    transform: scale(0.8,0.8);
}
@media screen and (max-width: 768px){
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
    }

    .item-block{
        width: 35%;
    }
    
    .carousel-h{
        height: 200px;
    }

    #searchbtn{
        margin-top: 10px;
    }
}
