.container-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 1%;
}

.left{
    flex:1;
}

.right{
    flex:5;
}

.list-group-block{
    width: 216px;
}

.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.shopping-item-block{
    width: 230px;
    margin: 15px;
    padding: 5px;
    border: solid #717b8c 1px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.shopping-item-img{
    border: solid  white 1px;
}

.shopping-item-block>h3{
    font-family: fantasy;
}

.text {
    background-color: lightcyan;
    font-family :Microsoft JhengHei;
}
.title-color {
    color : #ecb62c;
}
.btn-outline-pink {
    color: white;
    background-color: lightpink;
    background-image: none;
    border-color: lightpink;
}
.btn-outline-pink:hover {
    color: deeppink;
    background-color: transparent;
    border-color: deeppink;
}


@media screen and (max-width: 768px) {
    /* CSS Reset */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    .container-block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1% 1% 1% 1%;
        max-width: 90%;
        height: auto;
    }

    .list-group-block{
        width: 90%;
    }
    
    .wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .shopping-item-block{
        width: 42%;
        margin: 10px;
        padding: 0;
    }

    .left{
        width: 100%;
        flex:none;
    }
    
    .right{
        width: 100%;
        flex:none;
    }
}
